---
const title = '自鎖式矯正';
const content = 'Self-ligating braces';
---

<section
  id="invisalign"
  class="flex flex-wrap overflow-x-hidden mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[750px] w-full relative pb-16"
>
  <div class="md:w-[60%]">
    <img class="h-auto md:h-full object-cover" src="/assets/images/self-brace/self.jpg" alt="" />
  </div>
  <div class="md:w-[40%] px-4 md:pl-7 mt-4 md:mt-0 relative flex items-center justify-center md:justify-start mx-auto">
    <div class="text-center md:text-left">
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
      <p class="text-default-0 text-xl md:text-4xl tracking-[.1em] leading-loose font-bold">{content}</p>
    </div>
  </div>
</section>
