---
const title = '一般牙科';
const content1 =
  '木成秉持「以人為本」的服務宗旨，提供專業的口腔照及預防保健諮詢，並以患者為治療中心，讓患者得以獲得完善及有效率的療程計畫。';
const content2 = '木成一般牙科服務項目，可分為兩個類別，分別為「牙科治療」及「預防保健」。';
---

<section
  id="normal"
  class="flex flex-wrap overflow-x-hidden mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative pb-16 md:pb-0"
>
  <div class="md:w-[60%]">
    <img class="h-full" src="/assets/images/normal-teeth/normal.jpg" alt="" />
  </div>
  <div class="md:w-[40%] px-4 md:pl-7 mt-4 md:mt-0 relative flex items-center justify-center md:justify-start">
    <div class="text-center md:text-left">
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px]">{content1}</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mt-4">{content2}</p>
    </div>
    <div
      class="absolute hidden right-0 xl:left-0 -bottom-4 sm:-bottom-4 md:-bottom-3 md:block lg:-bottom-2 pointer-events-none w-full text-left"
    >
      <span
        class="text-default-bg font-extrabold tracking-[.12em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[65px] whitespace-nowrap"
        >Dental Clinic</span
      >
    </div>
  </div>
</section>
