---
const title = '預防保健';
---

<section
  id="prevent"
  class="flex flex-wrap mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative pb-16 md:pb-0"
>
  <div class="absolute hidden -z-10 right-0 xl:left-0 md:block -bottom-[5.1rem] pointer-events-none w-full text-left">
    <span
      class="text-default-bg font-extrabold tracking-[.12em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[65px] whitespace-nowrap"
      >Mu Cheng Dental Clinic</span
    >
  </div>
  <div class="w-full my-10 md:my-32">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-white">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] right-0 bg-white pr-4 md:pr-[100px]">{title}</span>
    </p>
  </div>
  <div class="md:w-10/12 grid grid-cols-1 gap-2 md:grid-cols-2 mx-auto">
    <div class="w-full mx-auto">
      <img
        class="w-full max-w-[350px] md:max-w-[500px] mx-auto"
        src="/assets/images/normal-teeth/prevent-1.jpg"
        alt=""
      />
      <p class="text-default font-bold tracking-[.35m] text-[20px] md:text-[20px] xl:text-[20px] my-4">
        定期口腔健康檢查
      </p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] leading-loose px-4 text-left">
        預防勝於治療，定期進行口腔健康檢查，避免口腔問題孳生，也能即時發現口腔症狀，盡早獲得治療！
      </p>
    </div>

    <div class="w-full mx-auto mb-0 md:mb-24">
      <img
        class="w-full max-w-[350px] md:max-w-[500px] mx-auto"
        src="/assets/images/normal-teeth/prevent-3.jpg"
        alt=""
      />
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[20px] my-4">洗牙</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] leading-loose px-4 text-left">
        目前健保提供給付，讓年滿1歲以上的國民，每半年洗牙一次，只要繳交掛號費，就可以享有洗牙服務哦！
      </p>
    </div>
  </div>
</section>
