---
const title = '牙科治療';
---

<section
  id="treatment"
  class="flex flex-wrap mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative pb-16 md:pb-0"
>
  <div class="w-full my-10 md:my-32">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-white">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] left-0 bg-white pl-4 md:pl-[100px]">{title}</span>
    </p>
  </div>
  <div class="md:w-10/12 grid grid-cols-1 gap-2 md:grid-cols-3 mx-auto">
    <div class="w-full mx-auto">
      <img class="max-w-[200px] mx-auto" src="/assets/images/normal-teeth/icon-1.jpg" alt="" />
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[20px] my-4">蛀牙填補</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] leading-loose px-4 text-left">
        牙科較常見的疾病就是蛀牙，蛀牙即是牙齒被破壞後，脫鈣形成一個坑腔洞，因為牙齒本身無修復能力，需先去除壞死組織，再進行填補，預防蛀牙繼續出現。
      </p>
    </div>

    <div class="w-full mx-auto">
      <img class="max-w-[200px] mx-auto" src="/assets/images/normal-teeth/icon-2.jpg" alt="" />
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[20px] my-4">敏感性牙齒</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] leading-loose px-4 text-left">
        當牙齒受到冰、熱、酸、辣等食物刺激時，牙齒產生酸痛不適即是敏感性牙齒，但您知道嗎?其實造成敏感性牙齒的原因很多，可能是琺瑯質受損、牙齦發炎、琺瑯質脫鈣······等，木成醫師針對您的症狀，找出敏感原因對症下藥，協助您改善敏感症狀。
      </p>
    </div>

    <div class="w-full mx-auto">
      <img class="max-w-[200px] mx-auto" src="/assets/images/normal-teeth/icon-3.jpg" alt="" />
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[20px] my-4">智齒拔除</p>

      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] leading-loose px-4 text-left">
        木成醫師擁有多年看診經驗，再加上精密設備如全口X光機或是3D斷層掃描，幫助醫師判斷智齒與神經位置，提升拔除智齒的效率及安全性。
      </p>
    </div>
  </div>
</section>
