---
import Title from '~/components/widgets/common/Title.astro';
import BgWords from '~/components/widgets/common/BgWords.astro';

const title = '門診時間';
const subtitle = 'Consulting Hour';
---

<section
  class="about relative flex items-center mx-auto min-h-[300px] sm:min-h-[550px] md:min-h-[650px] w-full bg-default-bg-0"
>
  <BgWords />
  <img
    class="absolute right-0 bottom-5 pointer-events-none w-[220px] hidden sm:block"
    src="/assets/images/index/leaf.png"
  />
  <div class="w-10/12 h-full flex flex-wrap items-center justify-center mx-auto">
    <div class="w-full h-auto flex flex-col xl:flex-row">
      <div class="w-full xl:w-3/12 text-left mt-[30px]">
        <Title title={title} subtitle={subtitle} />
      </div>
      <div class="w-full h-full xl:w-9/12">
        <div class="w-full xs:h-full h-auto mx-auto">
          <img class="object-cover w-full h-full block" src="/assets/images/index/consulting-hour.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
