---
const title = '關於木成';
const subtitle = 'About Mu Cheng';
const list = ['看診流程數位化', '牙科設備國際化', '量身打造客製化', '療程效果可視化', '費用親民透明化'];
---

<section
  id="dental-equipment"
  class="flex items-center mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[800px] w-full bg-cover bg-no-repeat bg-center"
  style="background-image: url('/assets/images/index/bg-about.png');"
>
  <div class="w-10/12 xl:w-8/12 h-full flex flex-wrap items-center justify-center mx-auto">
    <div class="w-full lg:w-1/2 text-left my-5">
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
      <p class="text-default font-bold tracking-[.2em] text-[14px] md:text-[20px] xl:text-[22px]">{subtitle}</p>
    </div>
    <div class="w-full lg:w-1/2">
      <div
        class="text-default font-semibold text-[16px] sm:text-[20px] md:text-2xl tracking-[.5em] mx-auto"
        style="writing-mode: vertical-lr"
      >
        {list.map((item, index) => <p class:list={['px-3 md:px-6', { 'pl-0': index === 0 }]}>{item}</p>)}
      </div>
    </div>
  </div>
</section>
