---
const title = '人工植牙';
const content1 =
  '不能盡情享用人食、不能自在的露出笑容，您是否因為缺齒困擾，對於生活造成影警人工植牙讓您重新找回如同真牙的咬合功能及美觀。';
const content2 =
  '木成醫師擁有專業技術，並引進高規格的顯微鏡，輔助醫師能夠更精準的判斷及進行療程，讓每一個人工植牙的療程，都盡可能地長長久久的陪伴您，長久維持生活品質、常保自信笑容！';
---

<section
  id="artifact"
  class="flex flex-wrap overflow-x-hidden mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[600px] w-full relative pb-16"
>
  <div class="md:w-[60%]">
    <img class="h-full" src="/assets/images/artifact-teeth/artifact.jpg" alt="" />
  </div>
  <div class="md:w-[40%] px-4 md:pl-7 mt-4 md:mt-0 relative flex items-center justify-center md:justify-start mx-auto">
    <div class="text-center md:text-left">
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px]">{content1}</p>
      <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mt-4">{content2}</p>
    </div>
    <div
      class="absolute hidden right-0 xl:left-0 -bottom-4 sm:-bottom-4 md:-bottom-3 md:block lg:-bottom-2 pointer-events-none w-full text-left"
    >
      <span
        class="text-default-bg font-extrabold tracking-[.12em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[65px] whitespace-nowrap"
        >Dental implant</span
      >
    </div>
  </div>
</section>
