---
const title = '人工植牙是什麼';
const content =
  '人工植牙是將與骨頭结合良好的鈦合金牙(牙種植體)，植入口腔的齒槽骨中，如同牙齒的地基功能，取代断裂或是缺少的白然牙根，待人工植體與齒槽緊密结合後，再利用植體為支台齒，將假牙放入，使假牙得以在穩固的基礎下置入。';
---

<section id="visiting-environment" class="h-auto w-full scroll-mt-[80px]">
  <div class="w-full h-auto flex flex-col-reverse md:flex-row items-center">
    <div class="w-full h-full md:w-[60%] flex flex-wrap px-4 md:pl-[100px]">
      <div class="w-full text-center md:text-left h-full max-h-[300px] my-auto py-12">
        <div class="text-center md:text-left">
          <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px]">{content}</p>
        </div>
      </div>
    </div>

    <div class="w-full md:w-[40%] overflow-hidden flex items-center">
      <div class="w-full h-full text-left md:max-h-[500px] flex flex-row">
        <div class="w-10/12">
          <img class="w-full h-full object-cover" src="/assets/images/artifact-teeth/explain.jpg" alt="" />
        </div>
        <div class="min-h-[300px] md:h-full w-2/12">
          <div class="ml-5 h-full w-[100px] bg-default-bg-0 -right-[480px] md:min-h-[500px]"></div>
        </div>
      </div>
    </div>
  </div>
</section>
