---
const title = '關於牙齒美白';
const content1 =
  '微笑是世界最美的語言，白皙亮麗的牙齒，如同個人行動名片，随著國人對於牙齒美白越來越重視，市面上不乏看到牙齒美白的相關產品，哪一種牙齒美白的方法，是適合自己的呢?';
const content2 = '木成提供一對一諮詢服務，針對您的口腔狀況及生活習慣、職業特殊需求等等，為您量身製訂牙齒美白計畫。';
---

<section id="visiting-environment" class="h-auto w-full scroll-mt-[80px] mb-[100px]">
  <div class="w-full h-auto flex flex-col-reverse md:flex-row items-center">
    <div class="w-full h-full md:w-[60%] flex flex-wrap px-4 md:pl-[100px]">
      <div class="w-full text-center md:text-left h-full my-auto py-12">
        <div class="text-center md:text-left p-8">
          <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-8">{title}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-8">{content1}</p>
          <p
            class="text-default-2 font-semibold tracking-[.2em] text-[16px] md:text-[16px] xl:text-[18px] mb-4 underline"
          >
            {content2}
          </p>
        </div>
      </div>
    </div>

    <div class="w-full md:w-[40%] overflow-hidden flex items-center">
      <div class="w-full h-full text-left flex flex-row">
        <img class="w-full h-full object-cover md:min-h-[500px]" src="/assets/images/teeth-beauty/about.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
