---
const title = '牙齒美白';
const content = 'Teeth whitening';
---

<section
  id="artifact"
  class="flex flex-wrap overflow-x-hidden mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[750px] w-full relative pb-16 overflow-hidden"
>
  <div class="md:w-[60%] pb-[50px]">
    <div
      class="absolute hidden xl:-left-[550px] -bottom-4 sm:-bottom-4 md:-bottom-3 md:block lg:-bottom-5 pointer-events-none w-full text-left"
    >
      <img src="/assets/images/index/bg-about.png" alt="" />
    </div>
    <img class="h-full" src="/assets/images/teeth-beauty/beauty.jpg" alt="" />
  </div>
  <div class="md:w-[40%] px-4 md:pl-7 mt-4 md:mt-0 relative flex items-center justify-center md:justify-start mx-auto">
    <div class="text-center md:text-left">
      <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2">{title}</p>
      <p class="text-default-0 text-xl md:text-4xl tracking-[.1em] leading-loose font-bold">{content}</p>
    </div>
  </div>
</section>
