---
---

<div class="absolute left-0 -bottom-2 sm:-bottom-4 md:-bottom-5 lg:-bottom-6 pointer-events-none w-full text-left">
  <span
    class="text-white font-extrabold tracking-[.16em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[68px] whitespace-nowrap"
    >Mu Cheng Dental Clinic</span
  >
</div>
