---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Carousel from '~/components/widgets/index/Carousel.astro';
import About from '~/components/widgets/index/About.astro';
import Grid from '~/components/widgets/index/Grid.astro';
import OurTeam from '~/components/widgets/index/OurTeam.astro';
import VisitingEnvironment from '~/components/widgets/index/VisitingEnvironment.astro';
import DentalEquipment from '~/components/widgets/index/DentalEquipment.astro';
import ConsultingHour from '~/components/widgets/index/ConsultingHour.astro';
import Transportation from '~/components/widgets/index/Transportation.astro';
import GoTop from '~/components/widgets/common/GoTop.astro';

// 每頁的meta tag設定
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<!-- 傳遞資料到Props中給Layout去操作 -->
<Layout {meta}>
  <section>
    <div class="w-100 mx-auto max-w-[2000px]">
      <div class="text-center pb-10 md:pb-16 w-100 mx-auto">
        <Carousel />
        <About />
        <Grid />
        <OurTeam />
        <VisitingEnvironment />
        <DentalEquipment />
        <ConsultingHour />
        <Transportation />

        <GoTop />
      </div>
    </div>
  </section>
</Layout>
