---
import Layout from '~/layouts/PageLayout.astro';

import Normal from '~/components/widgets/normal-teeth/Normal.astro';
import Treatment from '~/components/widgets/normal-teeth/Treatment.astro';
import Prevent from '~/components/widgets/normal-teeth/Prevent.astro';
import GoTop from '~/components/widgets/common/GoTop.astro';

// 每頁的meta tag設定
const meta = {
  title: '木成以人為本的服務宗旨，提供專業口腔照護和預防保健諮詢。',
  description:
    '台中北屯牙醫推薦木成，提供一般蛀牙填補、敏感性牙齒、智齒拔除、定期口腔健康檢查、一般洗牙服務，以患者為治療中心，讓患者獲得完善而有效率的療程計畫。',
  dontUseTitleTemplate: true,
};
---

<!-- 傳遞資料到Props中給Layout去操作 -->
<Layout {meta}>
  <section>
    <div class="w-100 mx-auto max-w-[2000px]">
      <div class="text-center pb-10 md:pb-16 w-100 mx-auto">
        <Normal />
        <Treatment />
        <Prevent />
        <GoTop />
      </div>
    </div>
  </section>
</Layout>
