---
import Layout from '~/layouts/PageLayout.astro';

import Self from '~/components/widgets/self-brace/Self.astro';
import Explain from '~/components/widgets/self-brace/Explain.astro';
import Process from '~/components/widgets/self-brace/Process.astro';
import Advantage from '~/components/widgets/self-brace/Advantage.astro';
import Need from '~/components/widgets/self-brace/Need.astro';
import GoTop from '~/components/widgets/common/GoTop.astro';

// 每頁的meta tag設定
const meta = {
  title: '人工植牙帶你找回如真牙的咬合功能和美觀，常保自信笑容。',
  description:
    '木成醫師的專業技術搭配高規格顯微鏡，讓每一個植牙療程盡可能長久，取代缺失的牙齒，植牙前透過補骨或上顎增高術為你打好地基，不用拔除鄰近健康牙齒，歡迎詢問評估。',
  dontUseTitleTemplate: true,
};
---

<!-- 傳遞資料到Props中給Layout去操作 -->
<Layout {meta}>
  <section>
    <div class="w-100 mx-auto max-w-[2000px]">
      <div class="text-center pb-10 md:pb-16 w-100 mx-auto">
        <Self />
        <Explain />
        <Process />
        <Advantage />
        <Need />
        <GoTop />
      </div>
    </div>
  </section>
</Layout>
