---
import Layout from '~/layouts/PageLayout.astro';

import Beautys from '~/components/widgets/teeth-beauty/Beautys.astro';
import About from '~/components/widgets/teeth-beauty/About.astro';
import Reason from '~/components/widgets/teeth-beauty/Reason.astro';
import Cold from '~/components/widgets/teeth-beauty/Cold.astro';
import Housing from '~/components/widgets/teeth-beauty/Housing.astro';
import GoTop from '~/components/widgets/common/GoTop.astro';

// 每頁的meta tag設定
const meta = {
  title: '台中美白牙齒選木成，針對個人條件訂製牙齒美白計畫。',
  description:
    '找出牙齒變黃原因，評估合適的牙齒美白療程，不管是因為食用含色素飲食導致牙釉質染色，或是因疾病、老化因素讓牙齒偏黃，均能在評估後進行牙齒冷光美白或牙齒居家美白。',
  dontUseTitleTemplate: true,
};
---

<!-- 傳遞資料到Props中給Layout去操作 -->
<Layout {meta}>
  <section>
    <div class="w-100 mx-auto max-w-[2000px]">
      <div class="text-center pb-10 md:pb-16 w-100 mx-auto">
        <Beautys />
        <About />
        <Reason />
        <Cold />
        <Housing />
        <GoTop />
      </div>
    </div>
  </section>
</Layout>
