---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Beautys from '~/components/widgets/teeth-beauty/Beautys.astro';
import About from '~/components/widgets/teeth-beauty/About.astro';
import Reason from '~/components/widgets/teeth-beauty/Reason.astro';
import Cold from '~/components/widgets/teeth-beauty/Cold.astro';
import Housing from '~/components/widgets/teeth-beauty/Housing.astro';
import GoTop from '~/components/widgets/common/GoTop.astro';

// 每頁的meta tag設定
const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<!-- 傳遞資料到Props中給Layout去操作 -->
<Layout {meta}>
  <section>
    <div class="w-100 mx-auto max-w-[2000px]">
      <div class="text-center pb-10 md:pb-16 w-100 mx-auto">
        <Beautys />
        <About />
        <Reason />
        <Cold />
        <Housing />
        <GoTop />
      </div>
    </div>
  </section>
</Layout>
