---
const title = '關於一般矯正器';
const content1 = '一般矯正器，是將一顆的矯正器黏在才齒上，再將正線過矯正器，利川鐵線或是橡皮岡岡定矯正器與矫正線。';
const content2 =
  '一般正器的原理就是透過正器供施力點，正線则將牙齒位移至定位置。常見的一般矯正器叉可以分為: 金威矯正器及网瓷矯正器，湖瓷矯正器色澤與牙商校為相近，外上較明顯，美觀度較高。';
---

<section id="visiting-environment" class="h-auto w-full scroll-mt-[80px]">
  <div class="w-full h-auto flex flex-col-reverse md:flex-row items-center">
    <div class="w-full h-full md:w-[60%] flex flex-wrap px-4 md:pl-[100px]">
      <div class="w-full text-center md:text-left h-full max-h-[500px] my-auto py-12">
        <div class="text-center md:text-left">
          <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-4">{title}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content1}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content2}</p>
          <img class="max-w-[600px]" src="/assets/images/normal-brace/explain-2.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="w-full md:w-[40%] overflow-hidden flex items-center">
      <div class="w-full h-full text-left md:max-h-[500px] flex flex-row">
        <div class="w-10/12">
          <img class="w-full h-full object-cover -scale-x-100" src="/assets/images/normal-brace/explain.jpg" alt="" />
        </div>
        <div class="min-h-[300px] md:h-full w-2/12">
          <div class="ml-5 h-full w-[100px] bg-default-bg-0 -right-[480px] md:min-h-[500px]"></div>
        </div>
      </div>
    </div>
  </div>
</section>
