---
const title = '什麼是隱適美隱形牙套矯正';
const content1 =
  '隱適美矯正透過高科技技術，根據每個人的牙齒狀況，用數位矯正軟體推估牙齒位移變化客製化每個人專屬的隱形牙套，隱形牙套給予牙齒施予柔和的矯正力，分段進行推移、推轉，將齒列調整至最佳位置。';
const content2 =
  '隱適美矯正的數位牙科技術特性，可以依照個人客製規划，療程效果可化，此外，透明且可拆式的隱形牙套，更利於牙齒清潔、維持生活便捷及美觀度！';
---

<section id="visiting-environment" class="h-auto w-full scroll-mt-[80px]">
  <div class="w-full h-auto flex flex-col-reverse md:flex-row items-center">
    <div class="w-full h-full md:w-[60%] flex flex-wrap px-4 md:pl-[100px]">
      <div class="w-full text-center md:text-left h-full max-h-[300px] my-auto py-12">
        <div class="text-center md:text-left">
          <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-4">{title}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content1}</p>
          <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content2}</p>
        </div>
      </div>
    </div>

    <div class="w-full md:w-[40%] overflow-hidden flex items-center">
      <div class="w-full h-full text-left md:max-h-[500px] flex flex-row">
        <div class="w-10/12">
          <img class="w-full h-full object-cover" src="/assets/images/invisalign/explain.jpg" alt="" />
        </div>
        <div class="min-h-[300px] md:h-full w-2/12">
          <div class="ml-5 h-full w-[100px] bg-default-bg-0 -right-[480px] md:min-h-[500px]"></div>
        </div>
      </div>
    </div>
  </div>
</section>
