---
const title = '我適合進行隱適美矯正嗎?';
const content1 =
  '如果您有以下需求或困擾，歡迎至木成診所預約諮詢，將有專業的醫師針對您的口腔狀況、生活習慣及需求，為你量身規劃。';
const content2 = '想要矯正牙齒者；有齒列推擠、齒間縫隙、暴牙、牙齒咬合不正、深咬、開咬、戽斗等問題者。';
---

<section
  id="artifact"
  class="bg-default-bg-0 flex flex-col xl:flex-row overflow-hidden mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[650px] lg:min-h-[750px] w-full relative pb-16 -mb-[70px]"
>
  <div class="w-full xl:w-[70%] flex flex-wrap">
    <div class="w-full md:w-[40%]">
      <img class="h-auto md:h-full object-cover" src="/assets/images/invisalign/need-1.jpg" alt="" />
    </div>
    <div class="w-full md:w-[60%] flex items-center p-4">
      <div class="text-center md:text-left">
        <p class="text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-4">{title}</p>
        <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content1}</p>
        <p class="text-default tracking-[.2em] text-[12px] md:text-[12px] xl:text-[14px] mb-4">{content2}</p>
      </div>
    </div>
    <div class="w-10/12 min-h-[200px] flex items-center justify-end relative">
      <img
        class="absolute w-[1000px] h-[70px] right-[120px] xl:right-[160px]"
        src="/assets/images/artifact-teeth/arrow-blue.png"
        alt=""
      />
      <button class="border-[1px] py-4 px-6 border-bl hover:bg-white">立即預約諮詢</button>
    </div>
  </div>
  <div
    class="w-full xl:w-[30%] px-4 xl:pt-[250px] mt-4 md:mt-0 relative flex items-center justify-center md:justify-start"
  >
    <img class="h-full object-cover" src="/assets/images/invisalign/need-2.jpg" alt="" />
  </div>
  <div
    class="absolute hidden right-0 xl:left-0 -bottom-4 sm:-bottom-4 md:-bottom-3 md:block lg:-bottom-5 pointer-events-none w-full text-left"
  >
    <span
      class="text-white font-extrabold tracking-[.12em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[65px] whitespace-nowrap"
      >Mu Cheng Dental Clinic</span
    >
  </div>
</section>
