---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/common/Header.astro';
import Footer from '~/components/common/Footer.astro';

// Meta Props設定
import { MetaSEO } from '~/types';
export interface Props {
  meta?: MetaSEO;
}
const { meta } = Astro.props;
---

<!-- {meta} 開放Props給其他組件傳遞 -->
<Layout {meta}>
  <Header />
  <main>
    <slot />
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </main>
  <Footer />
</Layout>
